[Unit]
Description=Rover System
After=network.target
StartLimitIntervalSec=1

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
User=cssouza
ExecStart=/home/cssouza/rover/bin/rover_launch
ExecStop=/home/cssouza/rover/bin/rover_unlaunch

[Install]
WantedBy=multi-user.target